<%= form_for :session, url: sign_in_path do |form| %>
  <div class="field">
    <%= form.label 'Email' %><br/>
    <%= form.email_field :email, autofocus: true%>
  </div>

  <div class="field">
    <%= form.label 'Senha' %><br/>
    <%= form.password_field :password, autocomplete: 'off'%>
  </div>

  <div class="actions">
    <%= form.submit 'Acessar' %>
  </div>

  <p>Novo por aqui? <%= link_to 'Cadastre-se!', new_consumer_path %></ṕ>
<% end %>
